In [87]:
# Dependencies
import os
from bs4 import BeautifulSoup as bs
import pandas as pd
from splinter import Browser
from selenium import webdriver
from requests import get
import pandas as pd

In [29]:
### NASA MARS NEWS

In [30]:
url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'

In [5]:
response = get(url)

In [7]:
soup = bs(response.text,'html.parser')

In [31]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [32]:
# Visiting URL with browser

browser.visit(url)

In [35]:
# Using specific CSS class to find first title

title_results = browser.find_by_css('div[class="content_title"] a').text
print(title_results)

Q&A with the Student Who Named Ingenuity, NASA's Mars Helicopter

In [36]:
# Using specific CSS class to find first article teaser

news_p = browser.find_by_css('div[class="article_teaser_body"]').text
print(news_p)

As a longtime fan of space exploration, Vaneeza Rupani appreciates the creativity and collaboration involved with trying to fly on another planet.

In [37]:
### SPACE IMAGES - FEATURED IMAGE

In [38]:
image_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'

In [56]:
# Visiting URL for image we want to copy

browser.visit(image_url)

print(featured_image_url)

In [57]:
#Inspected id tag on button to enlarge image

browser.find_by_id("full_image").click()

In [58]:
# Used inspector to find div id that contains image; refined to copy source URL

featured_image_url = browser.find_by_id("fancybox-lock").find_by_tag('img')['src']

In [59]:
# Verifying .jpg was stored

featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA20063_ip.jpg'

In [53]:
### MARS WEATHER

In [61]:
# Copying URL into a variable

mars_twitter_url = 'https://twitter.com/marswxreport?lang=en'

In [62]:
# Visiting the page on browser

browser.visit(mars_twitter_url)

In [84]:
# Finding the text, the constructing a path to retrieve text from HTML/CSS

mars_weather = browser.find_by_tag('article').find_by_css('span[class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0"]')[4].text

In [85]:
# Verifying variable took correct text

mars_weather

'InSight sol 506 (2020-04-29) low -93.5ºC (-136.2ºF) high -3.7ºC (25.3ºF)\nwinds from the WNW at 4.5 m/s (10.1 mph) gusting to 15.6 m/s (34.8 mph)\npressure at 6.80 hPa'

In [ ]:
### MARS FACTS

In [114]:
# Setting URL as variable

mars_facts_url = 'https://space-facts.com/mars/'

In [115]:
# Using Pandas to pull table as HTML table string

tables = pd.read_html(mars_facts_url)

In [116]:
# Verifying output

tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [117]:
# Converting to DataFrame

df = pd.DataFrame(tables[0])
df.columns = ['Attribute', 'Value']
df.set_index('Attribute', inplace=True)

In [118]:
# Verifying output

df

                                              Value
Attribute
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [119]:
# Converting to HTML, deleting spaces

html_table = df.to_html().replace('\n','')
html_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Value</th>    </tr>    <tr>      <th>Attribute</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [90]:
### MARS HEMISPHERES

In [164]:
hemisphere_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'

In [165]:
# Navigating to browser

browser.visit(hemisphere_url)

In [192]:
# Create lists to drop in titles/links

titles = []
img_links = []

In [193]:
# Looping through item classes & gathering titles/links

for x in range(4):
    hem = browser.find_by_css('div[class="item"]')[x].find_by_tag('h3').text
    pic = browser.find_by_css('div[class="item"]')[x].find_by_tag('a')["href"]
    titles.append(hem)
    img_links.append(pic)

In [194]:
# Validating titles

titles

['Cerberus Hemisphere Enhanced',
 'Schiaparelli Hemisphere Enhanced',
 'Syrtis Major Hemisphere Enhanced',
 'Valles Marineris Hemisphere Enhanced']

In [195]:
# Validating links

img_links

['https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced',
 'https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced',
 'https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced',
 'https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced']

In [196]:
# Creating list for dictionaries

hemisphere_image_urls = []

In [197]:
# Creating dictionary

for x in range(4):
    dic = {'title': titles[x], "img_url": img_links[x]}
    hemisphere_image_urls.append(dic)
    print(dic)

{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced'}
{'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced'}
{'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced'}
{'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced'}

In [198]:
# Validating dictionary works

print(hemisphere_image_urls)

[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced'}]

In [199]:
# Close browser

browser.quit()